argcomplete==3.5.1
blinker==1.8.2
click==8.1.7
dnspython==2.7.0
email_validator==2.2.0
Flask==3.0.3
Flask-WTF==1.2.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
lorem==0.1.1
MarkupSafe==3.0.2
packaging==24.1
pipx==1.7.1
platformdirs==4.3.6
userpath==1.9.2
Werkzeug==3.0.6
WTForms==3.2.1
